$baseColor: lightgoldenrodyellow;

:host {
  todo-item {
    background: green;

    &:nth-child(even) {
      background: darken($color: $baseColor, $amount: 5%);
    }

    &:hover {
      background: blue;
    }
  }
}


