<div class="row">
  <div class="col-md-3">
    <div class="list-group mb-3">
      <a class="list-group-item list-group-item-action"
         *ngFor="let c of users$ | async"
         routerLinkActive="active"
         [routerLink]="[c.id]">
        {{c.name}}
      </a>
      <li class="list-group-item text-center">
        {{(users$ | async)?.length}} {{'users' | translate}}
      </li>
      <a class="btn btn-primary btn-block mt-3" [routerLink]="['add']">{{'Add' | translate}}</a>
    </div>
  </div>
  <div class="col-md">
    <router-outlet></router-outlet>
  </div>
</div>



